
<div class="row"><!-- chnage form style with bootstrap  (class = row)-->
  <div class="col-md-6 col-md-offset-3 text-center">
    <!-- using IF STATEMENTS TO RENDER HEADING LINES IN FORM-->
    <% if params[:plan] == '2' %> 
      <h1 class= "text-center"> Pro Account</h1>
      
      <p>Sign up for premium and get FULL access to the community at 10/monthly.</p>
    <% else %>
      <h1> Basic Account</h1>
      <p>Sign up for free and get basic acces to the community.</p>
    <% end %>
  </div>

  <!---------------------------------------->
  <div class="col-md-6 col-md-offset-3">  <!-- CHANGE COL TO WIDEN FORM ( 6 OCLUMNS WIDE , -4 COLUMNS ON EACH SIDE )-->
    <div class = "well">
        <h2>Sign up</h2>
      <!-- using IF STATEMENTS TO CHOSE WHICH FORM LINES TO RENDER IN FORM-->  
      <% if params[:plan] == '2' %> 
        <%= render "pro_form" %> <!-- Rendering sign up file sepreately for PRO USERS # see _pro_form.html.erb # HAVE TO START FILE NME WITH "_"(registrsionfolder)-->
      <% else %> 
        <%= render "basic_form" %> <!-- Rendering sign up file sepreately for BASIC USERS # see _basic_form.html.erb # HAVE TO START FILE NME WITH "_"(registrsionfolder)-->
      <% end %>
        <%= render "devise/shared/links" %>
    </div>
  </div>  
</div>